@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

@section breadcrumb{
    <div class="col-md-8 breadcrumb">
      <ul>
        <li><a href="/">Anasayfa</a></li>
      </ul>
    </div>
}

<div id="slider">
  <ul class="slider">
  
    <li><img src="/Content/Images/parke_tasi.jpg" /></li>
    <li><img src="/Content/Images/beton_boru.jpg" /></li>
    <li><img src="/Content/Images/spor_sahalari.jpg" /></li>
    <li><img src="/Content/Images/dogal_tas.jpg" /></li>
  </ul>
    
</div>
<div id="container" class="container">
    
 
</div>