<aside>
<ul id="sidebar-nav"> 
<li><a href="#">SEKTÖR İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/sektorler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Alt Sektör Listesi</a></li>
     <li><a href="/yonetim/sektorgruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Sektör Grubu Listesi</a></li>
    <li><a href="/yonetim/sektorekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Alt Sektör Ekle</a></li>
    <li><a href="/yonetim/sektorlerimiz/tr"><img src="/Areas/Admin/Content/images/icons/16/page.png">Sektörler Sayfası</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



