<aside>
<ul id="sidebar-nav"> 
<li><a href="#">HAKKIMIZDA</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/kurumsal/hakkimizda"><img src="/Areas/Admin/Content/images/icons/16/page.png">Kurumsal</a></li>
   @* <li><a href="/yonetim/kurumsal/vizyon"><img src="/Areas/Admin/Content/images/icons/16/page.png">Vizyon</a></li>
    <li><a href="/yonetim/kurumsal/misyon"><img src="/Areas/Admin/Content/images/icons/16/page.png">Misyon</a></li>
    <li><a href="#"><img src="/Areas/Admin/Content/images/icons/16/page.png">Diğer Faaliyetlerimiz</a></li>*@
    
</ul>
</li>
</ul>
<br /> <br /> 
</aside>