<aside>
<ul id="sidebar-nav"> 
<li><a href="#">MAİL KULLANICI İŞEMLERİ</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/mailkullanicilari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Kullanıcı Listesi</a></li>
    <li><a href="/yonetim/ekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Kullanıcı</a></li>
    <li><a href="/yonetim/mailayarlari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Mail Ayarları</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>
