<aside>
<ul id="sidebar-nav"> 
<li><a href="#">EKİBİMİZ</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/ekibimiz"><img src="/Areas/Admin/Content/images/icons/16/page.png">Kişi Listesi</a></li>
    <li><a href="/yonetim/ekibimizekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Kişi</a></li>
    <li><a href="/yonetim/kurumsal/danismanlarimiz"><img src="/Areas/Admin/Content/images/icons/16/page.png">Danismanlarimiz</a></li>
    <li><a href="/yonetim/kurumsal/uzmanlikalanlarimiz"><img src="/Areas/Admin/Content/images/icons/16/page.png">Uzmanlik Alanlarimiz</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>
