@model DAL.Entities.Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
@section breadcrumb{
    <div class="col-md-8 breadcrumb">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li>İletişim</li>
        </ul>
    </div>
}
<div id="container" class="container">
    <div class="col-md-12 shadow section noPadding noMarginTop">
        <div class="col-md-12 sectionContent page contactPage">
            <h2 class="pageTitle">İLETİŞİM</h2>
            <div class="col-md-6 noPadding">
                <h3>İletişim Formu</h3>
                <div class="col-md-6">
                    <input type="text" placeholder="Ad Soyad" />
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Telefon" />
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="E-Posta" />
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Şehir" />
                </div>
                <div class="col-md-12">
                    <input type="text" placeholder="Mesaj Konusu" />
                </div>
                <div class="col-md-12">
                    <textarea placeholder="Mesaj İçeriği"></textarea>
                </div>
                <div class="col-md-12">
                    <input type="button" class="btn btn-warning" value="GÖNDER" />
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 noPadding">
                <h3>İletişim Bilgileri</h3>
                <div class="col-md-12 noPadding">
                    <ul class="noPadding">
                        <li>
                            <span class="red col-xs-4 noPadding">[ Telefon ]
              <span class="colon">:</span></span>@Model.Phone

                        </li>
                        <li>
                            <span class="red col-xs-4 noPadding">[ Faks ]
              <span class="colon">:</span></span>@Model.Fax

                        </li>
                        <li>

                            <span class="red col-xs-4 noPadding">[ E-Posta ] 
              <span class="colon">:</span></span><a href="mailto:info@zeynelyayla.com">@Model.Email</a></li>
                        <li>
                            <span class="red col-xs-4 noPadding">[ Adres ]
              <span class="colon">:</span></span><span>@Model.Address</span></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
