<aside>
<ul id="sidebar-nav"> 
<li><a href="#">REFERANS İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/projereferansgruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Referans Gruplari</a></li>
     <li><a href="/yonetim/projereferanslari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Referans Listesi</a></li>
    <li><a href="/yonetim/projereferansekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Referans Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



