<aside>
<ul id="sidebar-nav"> 
<li><a href="#">HİZMET İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/hizmetler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Hizmet Listesi</a></li>
     <li><a href="/yonetim/hizmetgruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Hizmet Grubu Listesi</a></li>
    <li><a href="/yonetim/hizmetgrubuekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Hizmet Grubu Ekle</a></li>
    <li><a href="/yonetim/hizmetlerimiz/tr"><img src="/Areas/Admin/Content/images/icons/16/page.png">Hizmetlerimiz Sayfası</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



