<aside>
<ul id="sidebar-nav"> 
<li><a href="#">ÖNEMLİ LİNK İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/linkler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Link Listesi</a></li>
    <li><a href="/yonetim/linkekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Link Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>