<aside>
<ul id="sidebar-nav"> 
<li><a href="#">EKİPMAN İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/ekipmanlar"><img src="/Areas/Admin/Content/images/icons/16/page.png">Ekipman Listesi</a></li>
    <li><a href="/yonetim/ekipmanekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Ekipman Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>