<aside>
<ul id="sidebar-nav"> 
<li><a href="#">HABER İŞEMLERİ</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/haberler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Haber Listesi</a></li>
    <li><a href="/yonetim/haberekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Haber</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>
