<aside>
<ul id="sidebar-nav"> 
<li><a href="#">KATEGORİ İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/kategorilistesi"><img src="/Areas/Admin/Content/images/icons/16/page.png">Kategori Listesi</a></li>
@*    <li><a href="/yonetim/yeniemlak"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Emlak Ekle</a></li>*@
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



