<aside>
<ul id="sidebar-nav"> 
<li><a href="#">EMLAK İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/emlaklistesi"><img src="/Areas/Admin/Content/images/icons/16/page.png">Emlak Listesi</a></li>
    <li><a href="/yonetim/yeniemlak"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Emlak Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



