<aside>
<ul id="sidebar-nav"> 
<li><a href="#">SERTİFİKA İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/sertifikalar"><img src="/Areas/Admin/Content/images/icons/16/page.png">Sertifika Listesi</a></li>
     <li><a href="/yonetim/sertifikaekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Sertifika</a></li>
    
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>

