
<aside>
<ul id="sidebar-nav"> 
<li><a href="#">TEKLİFLER</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/teklifler/tumteklifler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Tüm Teklifler</a></li>
    <li><a href="/yonetim/teklifler/onaybekleyenler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Onay Bekleyenler</a></li>
    <li><a href="/yonetim/teklifler/onaylananlar"><img src="/Areas/Admin/Content/images/icons/16/page.png">Onaylanalar</a></li>
    <li><a href="/yonetim/teklifler/iptaledilenler"><img src="/Areas/Admin/Content/images/icons/16/page.png">İptal Edilenler</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>




