<aside>
<ul id="sidebar-nav"> 
<li><a href="#">GALERİLER</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/galerigruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Galeri Grupları</a></li>
    <li><a href="/yonetim/resimekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Galeriye Resim Ekle</a></li>
    <li><a href="/yonetim/galeriresimleri"><img src="/Areas/Admin/Content/images/icons/16/page.png">Galeri Resimleri</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>




