<aside>
<ul id="sidebar-nav"> 
<li><a href="#">KARİYER OLANAKLARI</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/insankaynaklari/pozisyonekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni İlan Ekle</a></li>
    <li><a href="/yonetim/insankaynaklari"><img src="/Areas/Admin/Content/images/icons/16/page.png">İlan Listesi</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>




