<aside>
<ul id="sidebar-nav"> 
<li><a href="#">PROJE İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/projeler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Proje Listesi</a></li>
    <li><a href="/yonetim/projeekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Proje Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



