<aside>
<ul id="sidebar-nav"> 
<li><a href="#">SOSYAL MEDYA LİNKLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/sosyalmedyalinkleri"><img src="/Areas/Admin/Content/images/icons/16/page.png">Link Listesi</a></li>
    <li><a href="/yonetim/yenilink"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Link Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>




