@model web.Models.ReferenceWrapperModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<link href="~/Content/Styles/jquery.fancybox.css" rel="stylesheet" />
@section breadcrumb{
    <div class="col-md-8 breadcrumb">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/referanslar">Referanslar</a></li>
            <li>Referans Detay Sayfası</li>
        </ul>
    </div>
}
<div id="container" class="container">
  <div class="col-md-12 shadow section noPadding noMarginTop">
    <div class="col-md-12 sectionContent page newsPage">
    
      <h2 class="pageTitle">REFERANS DETAY SAYFASI</h2>
      <div class="pageContent">
      <p>
          @Html.Raw(Model.references.Content)
      </p>
      </div>
      
      <div class="col-md-12 noPadding products">
          @foreach (var item in Model.photos)
          {
              <div class="col-md-3 "><a href="@item.Path" class="fancybox" rel="gallery"><img src="@item.Thumbnail" style="width:210px;height:125px;"/></a></div>
          }
      </div>
    </div>
  </div>
  
</div>
<script src="~/Content/Scripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
    $(function () {
        $(".fancybox").fancybox({
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    });

</script>