<aside>
<ul id="sidebar-nav"> 
<li><a href="#">BANNER İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/banner"><img src="/Areas/Admin/Content/images/icons/16/page.png">Banner Listesi</a></li>
     <li><a href="/yonetim/bannerekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Banner</a></li>
    
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>

