<div style="text-align: center; padding: 5px;">
    <img alt="alert, exclamation, message, warning icon" class="tiled-icon" style="margin-top: 20px; width: 128px; height: 128px;"
        src="/Content/Images/Front/alert.png">
</div>
<div style="text-align: center; padding: 5px;">
    <p style="font-size: 12px; color: #00a1d0"><b>@OfferRess.OffersStrings.emptylist</b></p>
    <p style="font-size: 12px;">@OfferRess.OffersStrings.addproductmessage</p>
</div>
