@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div id="containerInner" style="margin: 0px;">
    <div id="content">

        <div class="otherActivities">
            <img src="/images/yapimAsamasinda.jpg" alt="under construction" />
        </div>

    </div>
</div>



