<aside>
<ul id="sidebar-nav"> 
<li><a href="#">BRİFİNGLER</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/brifingler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Brifing Listesi</a></li>
    <li><a href="/yonetim/detaylibrifingler"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Detaylı Brifing Listesi</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



