<aside>
<ul id="sidebar-nav"> 
<li><a href="#">ÜRÜN KATEGORİLERİ</a>
<ul class="drop" style="display: block;">
     @*<li><a href="/yonetim/urungruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Ürün Gruplari</a></li>*@
     <li><a href="/yonetim/urun-kategorisi-ekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Kategori Ekle</a></li>
    @*<li><a href="/yonetim/urunekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Ürün Ekle</a></li>
    <li><a href="/yonetim/urunlistesi"><img src="/Areas/Admin/Content/images/icons/16/page.png">Ürün Listesi</a></li>*@
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



