<aside>
<ul id="sidebar-nav"> 
<li><a href="#">ÇÖZÜM ORTAĞI İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/cozumortaklari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Çözüm Ortağı Listesi</a></li>
     <li><a href="/yonetim/cozumortagiekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Çözüm Ortağı</a></li>
    
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>

