<aside>
<ul id="sidebar-nav"> 
<li><a href="#">LOKASYON</a>
<ul class="drop" style="display: block;">
    <li><a href="/admin/country"><img src="/Areas/Admin/Content/images/icons/16/page.png">İller Listesi</a></li>
    <li><a href="/admin/country/create"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">İl Ekle</a></li>
    <li><a href="/yonetim/ilceler"><img src="/Areas/Admin/Content/images/icons/16/page.png">İlçeler Listesi</a></li>
    <li><a href="/yonetim/yeniilce"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">İlçe Ekle</a></li>
    <li><a href="/yonetim/semtler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Semtler Listesi</a></li>
    <li><a href="/yonetim/yenisemt"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Semt Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>

