<aside>
<ul id="sidebar-nav"> 
<li><a href="#">REFERANSLAR</a>
<ul class="drop" style="display: block;">
    <li><a href="/yonetim/referanslar"><img src="/Areas/Admin/Content/images/icons/16/page.png">Firma/Marka Listesi</a></li>
     <li><a href="/yonetim/referansekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Yeni Firma/Marka</a></li>
     <li><a href="/yonetim/kurumsal/nedenbiz"><img src="/Areas/Admin/Content/images/icons/16/page.png">Neden Biz?</a></li>
    
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>

