<aside>
<ul id="sidebar-nav"> 
<li><a href="#">DÖKÜMAN İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/dokumangruplari"><img src="/Areas/Admin/Content/images/icons/16/page.png">Döküman Gruplari</a></li>
    <li><a href="/yonetim/dokumanekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Döküman Ekle</a></li>
    <li><a href="/yonetim/dokumanlistesi"><img src="/Areas/Admin/Content/images/icons/16/page.png">Döküman Listesi</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>


