@model IEnumerable<DAL.Entities.News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
@section breadcrumb{
    <div class="col-md-8 breadcrumb">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li>Haberler</li>
        </ul>
    </div>
}

<div id="container" class="container">
    <div class="col-md-12 shadow section noPadding noMarginTop">
        <div class="col-md-12 sectionContent page newsPage">
            <h2 class="pageTitle">HABERLER</h2>
            @foreach (var item in Model)
            {
                <div class="col-md-6 noPadding">
                    <div class="col-md-12">
                        <h3>@item.Header</h3>
                    </div>
                    <div class="col-md-5"><a href="#">
                        <img src="@item.NewsImage" width="168" height="125" /></a> </div>
                    <div class="col-md-7">
                           <p>@Html.Raw(item.Spot)</p>
                     </div>
                </div>
            
            }
        </div>
    </div>
</div>
