<aside>
<ul id="sidebar-nav"> 
<li><a href="#">BANKA İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/bankabilgileri"><img src="/Areas/Admin/Content/images/icons/16/page.png">Banka Bilgileri Listesi</a></li>
    <li><a href="/yonetim/bankabilgisiekle"><img src="/Areas/Admin/Content/images/icons/16/page_add.png">Banka Bilgisi Ekle</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



