 <div class="col-md-12 noPadding section menu">
    <ul class="nav nav-pills">
      <li class="active home"><a href="/">ANASAYFA</a></li>
      
      <li><a href="/kurumsal">KURUMSAL</a></li>
      <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">ÜRÜNLER <span class="caret"></span></a>
        <ul class="dropdown-menu  multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Altyapı Elemanları</a>
          	<ul class="dropdown-menu">
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Beton Borular</a>
              	<ul class="dropdown-menu">
                  <li><a href="muflu_beton_boru_grubu.html">Muflu Beton Boru Grubu</a></li>
                  <li><a href="muflu_betonarme_boru_grubu.html">Muflu Betornarme Boru Grubu</a></li>
                  <li><a href="lamba_zivana_betonarme_boru_grubu.html">Lamba Zıvana Betonarme Boru Grubu</a></li>
                  <li><a href="surme_betornarme_boru_grubu.html">Sürme Betonarme Boru Grubu</a></li>
                </ul>	
              </li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Baca Konik Kapak Taban</a>
              	<ul class="dropdown-menu">
                  <li><a href="prefabrik_baca_tabanlari.html">Prefabrik Baca Tabanları</a></li>
                  <li><a href="prefabrik_baca_govdeleri_konikler_donatisiz.html">Prefabrik Baca Gövdeleri - Konikler (Donatısız)</a></li>
                  <li><a href="prefabrik_baca_govdeleri_konikler_donatili.html">Prefabrik Baca Gövdeleri - Konikler (Donatılı)</a></li>
                  <li><a href="prefabrik_baca_yardimci_elemanlari_donatili.html">Prefabrik Baca Yardımcı Elemanları (Donatılı)</a></li>
                  <li><a href="prefabrik_baca_yardımcı_elemanlari_donatisiz.html">Prefabrik Baca Yardımcı Elemanları (Donatısız)</a>              </li>
              	</ul>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Kent Mobilyaları</a>
          	<ul class="dropdown-menu">
             <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Parke Taşları</a>
              <ul class="dropdown-menu">
                  <li><a href="asik_tasi.html">Aşık Taşı</a></li>
                  <li><a href="prizma_tasi.html">Prizma Taşı</a></li>
                  <li><a href="super_dekor.html">Süper Dekor</a></li>
                  <li><a href="s_tasi.html">S Taşı</a></li>
                  <li><a href="kup_tas.html">Küp Taş</a></li>
                  <li><a href="sekizgen_tas.html">Sekizgen Taş</a></li>
                  <li><a href="kesik_tas.html">Kesik Taş</a></li>
                  <li><a href="kesik_karo_tas.html">Kesik Karo Taş</a></li>
                  <li><a href="karo_tas.html">Karo Taş</a></li>
                  <li><a href="cim_tasi.html">Çim Taşı</a></li>
              </ul>	
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bordürler</a>
               <ul class="dropdown-menu">
                  <li><a href="l_agac_dibi_borduru.html">L Ağaç Dibi Bordürü</a></li>
                  <li><a href="agac_dibi_izgara.html">Ağaç Dibi Izgara</a></li>
                  <li><a href="kot_dusurucu_bordur.html">Kot Düşürücü Bordür</a></li>
                  <li><a href="cim_borduru.html">Çim Bordürü</a></li>
                  <li><a href="bahce_borduru.html">Bahçe Bordürü</a></li>
                  <li><a href="yol_borduru.html">Yol Bordürü</a></li>
                  <li><a href="kanal_borduru.html">Kanal Bordürü</a></li>
                  <li><a href="ayirma_borduru.html">Ayırma Bordürü</a></li>
              </ul>	
              <li><a href="yagmur_oluklari.html">Yağmur Olukları</a></li>
              <li><a href="ciceklikler.html">Çiçeklikler</a></li>
              <li><a href="karolar.html">Karolar</a>          </li>
          	</ul>
          </li>
          <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Çevre Güvenlik Sistemleri</a>
          	<ul class="dropdown-menu">
             <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Spor Sahaları</a>
               <ul class="dropdown-menu">
                  <li><a href="ekonomik_tip_sahalar.html">Ekonomik Tip Sahalar</a></li>
                  <li><a href="standart_sahalar.html">Standart Sahalar</a></li>
                  <li><a href="uzun_omurlu_sahalar.html">Uzun Ömürlü Sahalar</a></li>
                  <li><a href="galvanizli_sahalar.html">Galvanizli Sahalar</a></li>
                  <li><a href="klempli_sahalar.html">Klempli Sahalar</a></li>
                  <li><a href="saha_ekipmanlari.html">Saha Ekipmanları</a></li>
              </ul>	
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Panel Çift Family</a>
                <ul class="dropdown-menu">
                  <li><a href="panel_cit_sistemleri.html">Panel Çit Sistemleri</a></li>
                  <li><a href="yuksek_guvenlik_citleri_securifor.html">Yüksek Güvenlik Çitleri / Securifor</a></li>
                  <li><a href="double_panel_cit.html">Double Panel Çit</a></li>
                  <li><a href="dekoratif_paneller.html">Dekoratif Paneller</a></li>
                </ul>	
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Jiletli Teller</a>
                <ul class="dropdown-menu">
                  <li><a href="duzlemsel_jiletli_teller.html">Düzlemsel Jiletli Teller</a></li>
                  <li><a href="helezon_jiletli_teller.html">Helezon Jiletli Teller</a></li>
                  <li><a href="kaynakli_puntali_jiletli_teller.html">Kaynaklı / Puntalı Jiletli Teller</a></li>
                </ul>
                <li><a href="ferforje.html">Ferforje</a></li>
                <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tel Çit / Tel Örgü Sistemleri</a>
                <ul class="dropdown-menu">
                <li><a href="galvaniz_ve_pvc_tel_orguler.html">Galvaniz ve PVC Tel Örgüler</a></li>
                <li><a href="puntali_cit_sistemleri.html">Puntalı Çit Sistemleri</a></li> 
                </ul>
                <li><a href="kasali_citler.html">Kasalı Çitler</a></li>
                <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Şantiye Çözümleri</a>
                <ul class="dropdown-menu">
                <li><a href="portatif_cift_sistemleri.html">Portatif Çift Sistemleri</a></li>
                <li><a href="trapez_sac_uygulamasi.html">Trapez Sac Uygulaması</a></li>
                <li><a href="osb_uygulamasi.html">OSB Uygulaması</a></li>
                </ul>
                <li><a href="celik_yapilar.html">Çelik Yapılar</a></li>
                <li><a href="yaprak_bitki_citler.html">Yaprak / Bitki Çitler</a></li>
                    
          	</ul>
            <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Doğal Taşlar</a>
            <ul class="dropdown-menu">
            <li><a href="terrazzo_yer_karosu.html">Terrazzo Yer Karosu</a></li>
            <li><a href="washbeton.html">Washbeton</a></li>
            <li><a href="terrazzo_prekast_urunler.html">Terrazzo Prekast Ürünler</a></li>
            <li><a href="andezit.html">Andezit</a></li>
            <li><a href="klinker_tugla_serisi.html">Klinker Tuğla Serisi</a></li>
            <li><a href="peyzaj_taslari.html">Peyzaj Taşları</a></li>
            <li><a href="fileli_patlatma_mozaik_dogaltaslar.html">Fileli Patlatma Mozaik Doğaltaşlar</a></li>
            <li><a href="granit.html">Granit</a></li>
            <li><a href="ithal_granit.html">İthal Granit</a></li>
            <li><a href="bazalt.html">Bazalt</a></li>
            <li><a href="adim_tasi.html">Adım Taşı</a></li>
            <li><a href="diyabaz.html">Diyabaz</a></li>
            <li><a href="traverten.html">Traverten</a></li>
            <li><a href="alacati_tasi.html">Alaçatı Taşı</a></li>
            <li><a href="kayrak.html">Kayrak</a></li>
            <li><a href="mermer.html">Mermer</a></li>
            <li><a href="kuptas.html">Küptaş</a></li>
            <li><a href="patlatma_taslar.html">Patlatma Taşlar</a></li>
            <li><a href="fileli_mozaik.html">Fileli Mozaik</a></li>
            <li><a href="park_bahce_elemanlari.html">Park, Bahçe Elemanları</a></li>
            <li><a href="dekoratif_tugla.html">Dekoratif Tuğla</a></li>
            <li><a href="isikli_tas.html">Işıklı Taş</a></li>
            
            
            </ul>
          </li>
        </ul>
      </li>
      
      <li class="dropdown"> 
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">HİZMETLER <span class="caret"></span></a>
        @if (ViewBag.Services!=null)
        {
          <ul class="dropdown-menu">
               @foreach (var item in ViewBag.Services)
              {
                   <li><a href="/hizmetler/@item.ServiceId/@item.PageSlug">@item.Name</a></li>
              }
        </ul>
        }
      </li>
      <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">FİYAT LİSTESİ <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="fiyat-listesi.html">Kent Mobilyaları</a></li>
          <li><a href="fiyat-listesi.html">Altyapı Elemanları</a></li>
          <li><a href="fiyat-listesi.html">Çevre Güvenlik Sistemleri</a></li>
           <li><a href="fiyat-listesi.html">Doğal Taşlar</a></li>
        </ul>
      </li>
     
      <li><a href="/haberler">HABERLER</a></li>
      <li><a href="/referanslar">REFERANSLAR</a></li>
      <li><a href="/insankaynaklari">İNSAN KAYNAKLARI</a></li>
      <li class="last"><a href="/iletisim">İLETİŞİM</a></li>
    </ul>
  </div>
